body {
    background-color: rgb(157, 157, 255);
    text-align: center;
    font-family: monospace;
    outline: 0;
}
#counter {
    font-size: 30px;
    margin: 10px 0;
}
#buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: 0;
    transition-duration: 400ms;
}
#buttons button:hover {
    box-shadow: 1px 1px gray;
}
#buttons button.start {
    background-color: cadetblue;
}
#buttons button.start:disabled {
    background-color: gray;
}
#buttons button.pause:disabled {
    background-color: gray;
}
#buttons button.pause {
    background-color: rgb(238, 92, 92);
}